<button class="btn btn-primary" (click)="onClick()">{{productStatus?"open":"closed"}}</button>

<table *ngIf="productStatus" class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.status ? 'Còn hàng' : 'hết hàng' }}</td>
            <td>
                <button class="btn btn-danger" (click)="onHandleDelete(product.id)">Delete</button>
                <button class="btn btn-info ms-1" (click)="onHandleGetInfo(product)">Detail</button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="productDetail">
    {{ productDetail.name }}
</div>