<div class="flex w-11/12 border  mx-auto leading-[50px]">
    <div class="menu ">
        <ul class="flex ">
            <li><a href="">NỮ</a></li>
            <li>
                <a href=""> NAM</a>
            </li>
            <li>
                <a href=""> TRẺ EM</a>
            </li>
            <li>
                <a href="">ƯU ĐÃI THÁNG 5</a>
            </li>
            <li>
                <a href="">BỘ SƯU TẬP</a>
            </li>
            <li>
                <a href="">LIFESTYLE</a>
            </li>
            <li>
                <a href="">VỀ CHÚNG TÔI</a>
            </li>
        </ul>
    </div>
    <div class="logo items-center mx-auto w-[144px] ">
        <img class="" src="https://pubcdn2.ivymoda.com/images/logo.png" alt="">
    </div>
    <div class="user mx-auto">
        <form action="" class="form">

            <button class="bnt "><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="seach border w-[240px] h-[40px] px-[30px] rounded-md" type="text" name="" id="" placeholder="TÌM KIẾM SẢN PHẨM">
        </form>
    </div>
</div>
<div class="row w-11/12 mx-auto h-12 leading-[48px] mt-3 text-sm">
    <div class="col text-center bg-[#d73831] text-white "><a href="">FREE SHIPPING ĐƠN HÀNG NGUYÊN GIÁ</a></div>
    <div class="col text-center bg-[#9490A5] text-white"><a href="">BẢO HÀNH TRỌN ĐỜI</a></div>
    <div class="col text-center bg-[#AC2F33] text-white"><a href="">CHÍNH SÁCH THẺ THÀNH VIÊN</a></div>
</div>